// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
     background-color: #EEFFFF;
}

.main-visual{
            width: 100%;
            height: 400px;
            background-image: url(heading.jpeg);
            background-size: 100% 100%;
            background-position: center;
            text-align: center;
}

.main-visual-text{
                 text-align: center
}




.concept{
        height: 200px;
}