// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
     background-color: #EEFFFF;
}
// vwでビューポートの幅の何パーセントか相対指定
.main-visual-text {
                  font-size: 4vw;
}

.main-visual-image {
                   width: 100%;
                   max-width: 100%;
                   height: auto;
}

.title {
       font-size: 25px;
}

.item {
      font-size: 20px;
}

.concept{
        text-align:center;
}