// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
     background-color: #EEFFFF;
}
// vwでビューポートの幅の何パーセントか相対指定
.main-visual-text {
                  font-size: 4vw;
}
// @media screen and (min-width:480px) {
//     /*　画面サイズが480pxからはここを読み込む　*/
// .main-visual-text {


// }
// }
.concept{
        height: 200px;
}