<div class="concept">
  <h1>”簡単に欲しい絵本が見つかるオンライン絵本屋さんを目指して”</h1>
  <h2 >普段から、子育てや保育をされている子どもに関わる全ての皆様。</h2>
  <h3>簡単に絵本を選び子どもと関わる時間を増やしたい。より発達年齢にあった絵本を選びたい。他の人の意見も聞きたい。</br>
      私も、その一人でした。そんな課題を解決したいと考え簡単に欲しい絵本が見つかるオンライン絵本屋さんを作ることにしました。</h3>
</div>