<div class="container">
  <h1 class="text-center pt-5">簡単に欲しい絵本が見つかる絵本屋さんを目指して</h1>
  <h2 class="text-center pt-5">普段から、子育てや保育をされている子どもに関わる全ての皆様。</h2>
  <h5 class="text-center pt-5">簡単に絵本を選び子どもと関わる時間を増やしたい。</br>
      より発達年齢にあった絵本を選びたい。</br>
      他の人の意見も参考にしたい。</h5>
  <h3 class= "text-center pt-5">私も、その一人でした。</br>
  そんな課題を解決したいと考え</br>
  簡単に欲しい絵本が見つかるオンライン絵本屋さんを作ることにしました。</h3>
</div>